
*{
    font-family: arial;
    padding: auto;
    margin: 15px;
    font-size: 24px;
}

.jeu{
    width: max-content;
    height: 500px;
}


#waldo{
    height: 40px;
    border-radius: 2rem;
}

#bout_waldo{
    border-radius: 2rem;
    border: none;   
    position: absolute; 

}

